<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="icon" href="../edustage/img/favicon.png" type="image/png" />
	<title>Matricula</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../edustage/css/bootstrap.css" />
	<link rel="stylesheet" href="../edustage/css/flaticon.css" />
	<link rel="stylesheet" href="../edustage/css/themify-icons.css" />
	<link rel="stylesheet" href="../edustage/vendors/owl-carousel/owl.carousel.min.css" />
	<link rel="stylesheet" href="../edustage/vendors/nice-select/css/nice-select.css" />
	<link rel="stylesheet" href="../edustage/css/style.css" />
	<link rel="stylesheet" href="../jquery.dataTables.min.css" />
	<link href="fonts.css" rel="../stylesheet">
	
	<script src="../edustage/js/jquery-3.2.1.min.js"></script>
	<script src="../edustage/js/popper.js"></script>
	<script src="../edustage/js/bootstrap.min.js"></script>
	<script src="../edustage/vendors/nice-select/js/jquery.nice-select.min.js"></script>

</head>
<body>
	<?php session_start(); ?>
	<header class="header_area white-header">
		<div class="main_menu">
			<div class="search_input" id="search_input_box">
				<div class="container">
					<form class="d-flex justify-content-between" method="" action="">
						<input type="text" class="form-control" id="search_input" placeholder="Search Here" />
						<button type="submit" class="btn"></button>
						<span class="ti-close" id="close_search" title="Close Search"></span>
					</form>
				</div>
			</div>

			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<a class="navbar-brand" href="../index.php">
						<img class="logo-2" src="../edustage/img/logo2.png" alt="" />
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span> <span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="../index.php">Inicio</a>
							</li>
							<?php if (isset($_SESSION['id']) && ($_SESSION['categoria']=='Súper Usuario' or $_SESSION['categoria']=='Admin')) { ?>
							<li class="nav-item active">
								<a class="nav-link" href="../EscuelaAcad/EscuelaAcademica.php">Escuela Academica</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="../Alumnos/Alumnos.php">Alumnos</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="../Docente/Docente.php">Docente</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="../Cursos/Cursos.php">Cursos</a>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="../Reporte/alumnos.php">Alumnos</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="../Reporte/cursos.php">Cursos</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="../Reporte/docentes.php">Docentes</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="../Reporte/escuelas.php">Escuelas</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="../Reporte/matriculas.php">Matriculas</a>
									</li>
								</ul>
							</li>
							<?php } ?>

							<?php if (isset($_SESSION['id']) && ($_SESSION['categoria']=='Alumno' or $_SESSION['categoria']=='Docente')) { ?>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matricula</a>
								<ul class="dropdown-menu">
									<?php if ($_SESSION['categoria']=='Alumno') { ?>
									<li class="nav-item">
										<a class="nav-link" href="../Matricula/matricula.php">Insertar matricula</a>
									</li>
									<?php } ?>
									<?php if ($_SESSION['categoria']=='Docente') { ?>
										<li class="nav-item">
											<a class="nav-link" href="../Notas/notas.php">Ingresar notas</a>
										</li>
									<?php } ?>
								</ul>
							</li>
							<?php } ?>

							<?php if (isset($_SESSION['id'])) { ?>
								<li class="nav-item">
									<a class="nav-link" href="../logout.php">Cerrar sesion</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#"><?php echo $_SESSION['nombre'] ?></a>
								</li>
							<?php } ?>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->

	<!--================Home Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="banner_content text-center">
							<h2>Registro de Matricula</h2>
							<div class="page_link">
								<a href="../index.php">Inicio</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
